<!DOCTYPE html>
<html>
<head>
    <title>My School</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="stylesheets/home.css"></link>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse ">
  <div class="container">
    <a href="#" class="navbar-brand" id="nav-class">My School</a>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" id="nav-class">Brand</a>
    </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="#" id="nav-class">Link</a></li>
          <li><a href="#" id="nav-class">Link</a></li>
        </ul>
        <ul class="nav pull-right navbar-nav">
          <li>
           <a href="#" id="nav-class">Link</a>
          </li>
          <li>
            <a href="#" id="nav-class">Link2</span></a>
          </li>
        </ul>
  </div>
</nav>